.textarea1{
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    height: 150px;
    outline: none;
    border-color: #4CAF50;
    color: #141414;
}
.input1{
    outline: none;
    border-color: #4CAF50;
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

